<div class="profile-card">
  <div class="profile-card__name">
    <img src="/assets/image/avatar.png" alt="" />
    <div class="profile-card__name-text">
      <h3 class="heading-h6">Райан Гослинг</h3>
      <p class="regular-14">ryan.gosling</p>
    </div>
  </div>
  <p class="profile-card__description medium-12">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </p>
  <div class="profile-card__tags">
    <span class="button-12">JS</span>
    <span class="button-12">CSS</span>
    <span class="button-12">HTML</span>
  </div>
  <app-button
    label="Написать"
    leftSection="asd"
    rightSection="asd"
    variant="link"
  ></app-button>
</div>
